<!-- メインのとこ -->
<a data-toggle="collapse" href="#c_{{song.id}}" class="list-group-item list-group-item-action song-group-item"
    aria-expanded="false" aria-controls="c_{{song.id}}">

    <div class="row">
        <!-- 曲名とアーティスト名 -->
        <div class="col">
            <h5 class="mb-1">{{song.song_name}}</h5>
            <span class="text-secondary">{{song.song_auther}}</span>
        </div>
        <!-- 定数 -->
        <div class="col-sm-auto d-flex justify-content-end align-items-center border-master">
            <h5 class="mb-0 font-weight-bold">{{song.master_const}}</h5>
        </div>
    </div>
</a>
<!-- 折りたたみ内 -->
<a id="c_{{song.id}}" class="collapse list-group-item list-group-item-action song-group-item song-description">

    <div class="container">

        <div class="row">

            <!-- 情報表示 -->
            <div class="col">

                <p class="mb-1 mt-1">ジャンル: {{song.song_catname}}</p>
                <p class="mb-1 mt-1">BPM: {% if song.song_bpm != 0 %}<span>{{song.song_bpm}}</span>{% else %}<span
                        class="text-black-50">No Data</span>{% endif %}</p>
                <p class="mb-1 mt-1">収録日: {{song.song_release}}</p>
                <div class="container mt-2">
                    <div class="row">
                        <button onclick='window.open("https://db.chunirec.net/search?q={{song.song_name}}")'
                            class="col-sm-auto pl-4 pr-4 btn btn-outline-secondary" type="button">
                            統計情報 <span style="font-size:.7rem">(外部ページ)</span>
                            <i class="ml-2 fas fa-external-link-alt"></i>
                        </button>
                    </div>
                </div>

            </div>

            <!-- 各定数表示 -->
            <div class="col-sm-auto">

                <div class="row d-flex justify-content-end align-items-center border-expert pt-1 pb-1">
                    {% if song.expert_notes != 0 %}<p class="mb-1 mt-1 pr-2 border-right">{{song.expert_notes}} Notes
                    </p>{% endif %}
                    <h5 class="pl-2 mb-1 mt-1 mr-2">{% if song.expert_const != 0 %}<span
                            class="font-weight-bold">{{song.expert_const}}</span>{% else %}<span
                            class="text-black-50 h6">No Data</span>{% endif %}</h5>
                </div>
                <div class="row d-flex justify-content-end align-items-center border-master mt-1 mb-1">
                    {% if song.master_notes != 0 %}<p class="mb-1 mt-1 pr-2 border-right">{{song.master_notes}} Notes
                    </p>{% endif %}
                    <h5 class="pl-2 mb-1 mt-1 mr-2">{% if song.master_const != 0 %}<span
                            class="font-weight-bold">{{song.master_const}}</span>{% else %}<span
                            class="text-black-50 h6">No Data</span>{% endif %}</h5>
                </div>
                <div class="row d-flex justify-content-end align-items-center border-ultima pt-1 pb-1">
                    {% if song.ultima_notes != 0 %}<p class="mb-1 mt-1 pr-2 border-right">{{song.ultima_notes}} Notes
                    </p>{% endif %}
                    <h5 class="pl-2 mb-1 mt-1 mr-2">{% if song.ultima_const != 0 %}<span
                            class="font-weight-bold">{{song.ultima_const}}</span>{% else %}<span
                            class="text-black-50 h6">No Data</span>{% endif %}</h5>
                </div>

            </div>
        </div>
    </div>


</a>
