{% extends './base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'const_search/style.css' %}">
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">クイック定数検索</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "./common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <!-- 検索のカード -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title"><span class="mr-3">クイック定数検索</span>

                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-sm btn-outline-primary active">
                                        <input type="radio" name="options" id="option_a1" autocomplete="off" checked="">
                                        CHUNITHM版
                                    </label>
                                    <label class="btn btn-sm btn-outline-primary disabled">
                                        <input type="radio" name="options" id="option_a2" autocomplete="off"> オンゲキ版
                                    </label>
                                </div>
                            </h3>
                        </div>

                        <div class="card-body">

                            <!-- 検索窓 -->
                            <div class="row justify-content-center">
                                <div class="col-10">

                                    <form id="ajax-search" action="{% url 'my_apps:const_search_page' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="input-group input-group-lg">

                                            <input name="query" type="text" class="form-control" id="query"
                                                placeholder="検索…" aria-label="search" aria-describedby="inputHelp">

                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                        class="fas fa-cog"></i> </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <h6 class="dropdown-header">検索設定</h6>
                                                    <a class="dropdown-item" href="#">Bootstrapの</a>
                                                    <a class="dropdown-item" href="#">Multiselectってやつ</a>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">使う予定だよーーーーーー</a>
                                                </div>
                                            </div>

                                        </div>

                                        <small id="inputHelp" class="form-text text-muted">
                                            曲名(表記・読み)、アーティスト名(表記)で検索できます。
                                        </small>

                                    </form>

                                </div>
                            </div>

                            <!-- 区切りhr -->
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <hr />
                                </div>
                            </div>

                            <!-- 検索情報 -->
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <p id="search_hit_text">検索結果 : - 件</p>
                                </div>
                                <div class="col-5">
                                    <p id="loading_text" class="text-right" style="display: none;">検索中...</p>
                                </div>
                            </div>

                            <!-- 検索結果 -->
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <div id="post-songs" class="list-group">

                                        {% for song in song_data|slice:":30" %}
                                        {% include "const_search/song_info.html" %}
                                        {% endfor %}

                                        {% include "const_search/too_many_result_info.html" %}

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">情報提供:xxx</p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 権利表示 -->
            <div class="row">
                <div class="col">
                    <div class="card card-outline card-info collapsed-card">

                        <div class="card-header">
                            <h3 class="card-title">著作権表示</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body rights-info" style="display: none;">
                            {% for r in rights %}
                            <p class="mb-0">{{r}}</p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- Ajaxとか -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#ajax-search').on('submit input', function (e) {

        $("#loading_text").css("display", "block");

        // 通常の送信処理を止める
        event.preventDefault();

        // 送信する
        $.ajax({
            'url': '{% url "my_apps:const_search_page" %}',
            'type': 'POST',
            'data': {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                'query': $('#query').val(),
            },
            'dataType': 'json',
        })
            //成功時
            .done(function (response) {
                // 今表示されてるやつを消す
                $(".song-group-item").remove();
                // 新しく表示する
                for (var i = 0; i < response.search_response.length; i++)
                    $("#post-songs").prepend(response.search_response[i]);

                $("#search_hit_text").html("検索結果 : " + response.search_hit_count + " 件")
                $("#loading_text").css("display", "none");
            })
            //失敗時
            .fail(function () {
                // 今表示されてるやつを消す
                $(".song-group-item").remove();
            })

    });

    // 通常の送信処理を止める
    event.preventDefault();

</script>
{% endblock content %}
